p {
    color: blue;
    font-size: 30px;
  }

body {
    background-color:white;
}

h1 {
  font-family: serif;
  color: purple;
  margin: 10px;
}


  /*Class*/
  .parrafo {
    color: red;
  }

  .main_nav {
    /* margin-top: 10px; */
    padding-left: 0;
    list-style: none;
    background-color: darkorange;
    padding-top: 8px;
  }

  .main_nav__item {
    display: inline-block;
    font-size: 18px;
    padding-top: 0px;
    margin-bottom: 8px;
    padding-left: 7px;

  }

  .main_nav__item a {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    /* background-color: white; */
    background-size: 2px;
  }

  .main_nav__item a:hover {
    color: yellow;
  }

  .main_nav__item a::after {
    content: " |";
  }
  
  .parrafo2 {
    width: 100%;
    height: 100px;
    border: 10px solid gray;
    padding: 20px 35px;
  }

  .title {
    font-size: 18px;
    font-family: monospace;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* ID */
  #texto {
    color:mediumvioletred;
    font-size: 20px;
  }

  #Nombre {
    background-color:burlywood;
  }

  #Frutas {
    font-size: 30px;
    color: blue;
  }

  #page_title {
    font-family: Arial, Helvetica, sans-serif;
  }
